.date.card {
  display: flex;
  justify-content: center;
  width: 15%;
  height: 5.5em;
  max-width: 128px;
  border: 2px solid snow;
  color: snow;
  background-color: rgba(27, 27, 27, 0.459);
}

.date-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.year {
  font-weight: 400;
  font-size: 0.75rem;
  color: thistle;
}

.day {
  font-size: 1.5rem;
}

@media screen and (max-width: 576px) {
  .date.card {
    width: 30%;
  }
}
