.form-control {
  display: flex;
  flex-direction: column;
  width: 45%;
  max-width: 500px;
  margin-right: 1em;
}

.form-label {
  margin-bottom: 0.25em;
}

.form-input {
  border: none;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  font-size: 0.9rem;
}

@media screen and (max-width: 576px) {
  .form-control {
    width: 100%;
  }
}
